body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  background-size: cover;
  background-image: url(../img/background1.jpg);
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

.question p {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
/* foto */

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-image: url(../img/background1.jpg);
  padding: 10px;
  border-radius: 15px 50px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  margin-right: 2%;
}

.profile-photo {
  width: 100%;
  border-radius: 20%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.credit {
  font-size: 0.8rem;
}
.credit p {
  color: white;
}

.credit a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

/* animasi */
.profile-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.2, 0.6, 0.3, 1);
  transform-style: preserve-3d;
  position: relative;
}

.profile-card:hover .profile-card-inner {
  transform: rotateY(180deg) scale(1.1);
}

.profile-card-front,
.profile-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.profile-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card-back {
  background-color: #69b2ff;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* .profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
} */

/* .profile-name {
  font-size: 18px;
  font-weight: bold;
} */

.profile-card {
  background-image: url(../img/background1.jpg);
  padding: 10px;
  border-radius: 15px 50px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  height: 200px;
  margin-right: 2%;
}

.profile-card:hover {
  animation: chainAnimation 1s forwards;
}

@keyframes chainAnimation {
  0% {
    transform: scale(1) rotate(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1.1) rotate(20deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1.05) rotate(-10deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .credit {
    font-size: 12px;
  }

  .containerr {
    flex-direction: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .profile-card {
    width: 100px;
    height: 180px;
  }

  .profile-photo {
    width: 50px;
    height: 50px;
  }

  .profile-name {
    font-size: 12px;
  }

  .profile-card-back p {
    font-size: 10px;
  }
}

/* Ini untuk judul fakultas ilmu komputer universitas sumatera selatan */
.judul-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 0 20px; /* Menyesuaikan jarak antara teks dan logo */
  font-size: 25px;
}

.judul {
  display: flex;
  align-items: center;
}

.judul img {
  width: 150px; /* Sesuaikan lebar logo */
  height: auto; /* Mempertahankan rasio aspek logo */
}

h1,
p {
  margin: 0;
}
